<!DOCTYPE html>
<html>
<head>
<title>Hello, Welcome to my Stock Profit Calculator</title>
</head>
<body>
<h1>Stock Details: </h1>
<table>
	<tbody>
        
	<tr>
		<td> Date and Time: </td>
		<td> {{dateTimeNow}} </td>
	</tr>


	<tr>
		<td> Name: </td>
		<td> {{NameofStock}} </td>
	</tr>

	<tr>
		<td> Stock Price: </td>
		<td> {{price}} </td>
	</tr>

        <tr>
		<td> Value Change: </td>
		<td> {{valueChange}} </td>
	</tr>

         <tr>
		<td> Percentage Change: </td>
		<td> {{perChange}} %</td>
	</tr>

	

	</tbody>
</table>
<br/><br/>


</body>
</html>
